<div class="ui fluid container">
  <div class="row">
    <div class="column ui basic segment">
      <h1 class="ui header">スタッフ経歴書 一覧</h1>

      <table class="ui celled orange table">
      <tr>
        <th>氏名</th>
        <th>会社名</th>
        <th>ステータス</th>
        <th>ユーザ</th>
        <th></th>
        <th></th>
      </tr>
      <% @career_sheets.each do |career_sheet| %>
      <tr>
        <td><%= career_sheet.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
      </table>
      <%= link_to "+ 経歴書を追加する", new_career_sheet_path %>
    </div>
  </div>
</div>
