<h1>スタッフ経歴書一覧</h1>
<table>
<tr>
  <th>氏名</th>
  <th>会社名</th>
  <th>ステータス</th>
  <th>ユーザ</th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>

<%= link_to "+ 経歴書を追加する", new_career_sheet_path %>